extends ./partials/_base

block main
	.container
		.row.row-parent
			.col(class="col-md-1")
				.grid col-md-1
			.col(class="col-md-11")
				.grid col-md-11

		.row
			.col(class="col-md-2")
				.grid col-md-1
			.col(class="col-md-10")
				.grid col-md-11

		.row
			.col(class="col-md-8")
				.grid col-md-1
			.col(class="col-md-4")
				.grid col-md-11



