<!DOCTYPE html>
<html lang="en-us">
  <head>
    <!-- Web config-->

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>PostCSS 玩一下 - INDER</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <!-- Theme-->
    <link rel="stylesheet" href="assets/stylesheets/skin.css">

    <script src="assets/scripts/cq-prolyfill.js"></script>
  </head>
  <body>

    <!-- Below js just for this page only-->
  </body>
</html>